* {
    color: #CBD0D0;
}

.nav {
    bottom: 0;
    width: 20rem;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #24282a;
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: 1px solid black;
}

.ver {
    background-color: #222;
    width: 100%;
    
    top: 0;
    z-index: 3;
    position: absolute;
    height: 3rem;
    bottom: auto;
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

.ver-text {
    margin: auto auto auto 1rem;
}
