* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1E1E2E;
}

.menu-bar {
  background-color: #40404D;
  max-height: 80px;
  border: 1px solid #CAD3F540;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 40px;
  border-top-width: 0;
  border-right-width: 0;
}

.brand-logo {
  width: 80px;
  height: 80px;
}

.menu-bar-separator {
  overflow: auto;
  width: 100%;
}

.menu-button {
  padding-right: 16px;
  color: #CAD3F5;
}
